# This is correlation test for a preprocessed data, created via cluster1

In [15]:
import csv
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

In [21]:
df = pd.read_csv('tmp.txt', sep = '|', low_memory = False)
columns = list(df.columns.values)

In [22]:
df.corr(method = 'pearson')

                    id  actcount  med_ml_num    buynum     grind  quests_speed
id            1.000000  0.048387    0.045605  0.058676  0.011676      0.031583
actcount      0.048387  1.000000    0.075726  0.087715  0.080849     -0.078455
med_ml_num    0.045605  0.075726    1.000000  0.187018  0.068988      0.364767
buynum        0.058676  0.087715    0.187018  1.000000  0.062461      0.120310
grind         0.011676  0.080849    0.068988  0.062461  1.000000      0.090823
quests_speed  0.031583 -0.078455    0.364767  0.120310  0.090823      1.000000

In [23]:
df.corr(method = 'spearman')

                    id  actcount  med_ml_num    buynum     grind  quests_speed
id            1.000000 -0.002496   -0.007902  0.017055 -0.007359     -0.001928
actcount     -0.002496  1.000000    0.620762  0.405479  0.556500      0.683768
med_ml_num   -0.007902  0.620762    1.000000  0.435885  0.552965      0.485756
buynum        0.017055  0.405479    0.435885  1.000000  0.344590      0.313451
grind        -0.007359  0.556500    0.552965  0.344590  1.000000      0.446805
quests_speed -0.001928  0.683768    0.485756  0.313451  0.446805      1.000000

In [24]:
df.corr(method = 'kendall')

                    id  actcount  med_ml_num    buynum     grind  quests_speed
id            1.000000 -0.001778   -0.006083  0.013295 -0.005488     -0.001392
actcount     -0.001778  1.000000    0.472066  0.339821  0.459542      0.457740
med_ml_num   -0.006083  0.472066    1.000000  0.404132  0.481119      0.438242
buynum        0.013295  0.339821    0.404132  1.000000  0.307357      0.273219
grind        -0.005488  0.459542    0.481119  0.307357  1.000000      0.365401
quests_speed -0.001392  0.457740    0.438242  0.273219  0.365401      1.000000

This part shows all pairs of parametres, which has significant correlation.
It uses Student-test.

In [28]:
significance = 0.95
for x in columns:
    for y in columns:
        if x==y:
            continue
        tt = ttest_ind(df[x],df[y])
        if tt[1]>=1-significance:
            print x,y